// import fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

// global variables
$base-primary: #0D14D6;
$base-secondary: #0084ff;
$base-tertiary: #76bbfc;
$mywhite: #ffffff;
$shade1000: #040212;
$shade800: #211f2c;
$shade600: #3d3c46;
$shade400: #7c7c7c;
$shade200: #aaaaaa;
$shade100: #d8d7d7;
$shadow-tiles: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.11);



// Homepage
body {
    height: 100vh;
    margin: 0;
    font-family: "Lato";
    font-size: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {width: 100%;}

.nav-container {
    background:$shade1000;
    z-index: 2;

    a {
        color: $shade100;
    }

    a:hover {
        color: $mywhite;
    }

    .btn {
        border-radius: 0.5rem;
        border: 2px solid $shade100;
        margin-left: 0.6rem;
        margin-top: -0.6rem;
        padding: 0.6rem;
    }

    .btn:hover {
        background-color: $base-primary;
        border-radius: 0.5rem;
        border: 2px solid $base-primary;
    }

    .logo{
        max-width:25%;
        height:auto;
        color: $mywhite;
        font-weight: bold;
        font-family: 'Bebas Neue', cursive;
        font-size: 1.2rem;        
    }
    .logo:hover {
        color: $mywhite;
    }
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;

    ul {
        display: flex;

        a {
            display: block;
            padding: 0 1rem;
        }
    }
}

.social-header {
    display: none;
}

.hero {
    background: $mywhite;
    display: grid;
    padding: 4rem;
    h1 {
        text-align: center;
        font-family: 'Bebas Neue', cursive;
        font-size: 3.2rem;
        background: -webkit-linear-gradient($base-primary, $base-secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.meet {
    display: flex;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    color: $shade600;
    font-family: "Lato";

    span {
        margin-top: 0.5rem;
        margin-right: .5rem;
        font-size: 25px;
    }
}

.scroll {
    width: 30px;
    margin-top: 2rem;
}

section {
    padding: 4rem 2rem;
    text-align: center;
    background: $mywhite;
}

.featured {
    position: relative;
}

.featured img {
    border-radius: 1rem;
    box-shadow: $shadow-tiles;
}

.featured::before {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: red;
    top: 0;
    left: 0;
    z-index: -1;
}

.subtitle {
    text-transform: uppercase;
    font-weight: bold;
    color: $base-secondary;
    letter-spacing: .2rem;
    font-size: .85rem;
}

.featured-title {
    color: $shade1000;
    font-family: 'Bebas Neue', cursive;
    font-size: 2.4rem;
    margin-top: -.1rem;
    display: block;
}

.featured-desc {
    color: $shade600;
    font-size: .9rem;
    line-height: 1rem;
    font-weight: 500;
}

.featured-link {
    color: $base-primary;
    padding-bottom: 2rem;
    font-size: .9rem;
    line-height: 1.8rem;
    display: block;
}

.skills {
    background: $base-tertiary;
}

.skills-container ul li{

    background: $mywhite;
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    box-shadow: $shadow-tiles;
    
    .icon-container {
        height: 100px;
        display: grid;
        place-content: center;
        margin: 0 auto;

        &.one {
            width: 60px;
        }
        &.two{ 
            width: 80px;
        }
        &.three {
            width: 70px;
        }
    }   
    .skill-title {
        font-weight: bold;
    }
    .featured-desc-skill-desc {
        margin-bottom: 2rem;
        font-size: .9rem;
        line-height: 1.8rem;
        text-align: left;
    }
}

.portfolio {
    background: $mywhite;
}

.portfolio-container a img{
    margin-bottom: 2rem;
    max-width:40%;
    height:auto;
}

footer {
    height: 10vh;
    background-color: $shade1000;
    justify-content: center;
    padding: 2rem;
    .social-footer {
        display: flex;
        justify-content: center;
        ul{
            display: flex;
            justify-content: space-between;
            width: 10rem;
            a {
                color: $shade100;
            }
            a:hover {
                color: $mywhite;
            }
        }
    }
    p {
        text-align: center;
        color: $shade100;
    }
}

// Project Page Template
.subheader {
    height: 80vh;
    background: $base-tertiary;
    //display: grid;
    //grid-template-columns: 40% auto;

    img {
        display: block;
        height: 90%;
        width: auto;
        margin: auto;
        //margin-top: 5rem;
        padding-top: 2rem;
    }
}

.overview-wrapper {
    background:  $mywhite;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: $shadow-tiles;
    display: block;
    margin: auto;
    width: 50%;
    .header {
        text-transform: uppercase;
        font-size: x-small;
        font-weight: bold;
    }
    li {
        margin: 0 0 0.5rem 0;
    }
}

.content-wrapper {
    margin: 20rem 5rem 5rem 5rem;
    //margin: 6rem 20rem;
    h1 {
        color: $base-secondary;
        font-size: x-large;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }
}

.paragraph-wrapper {
    margin: 5rem 0;;
}


// About Me 

.avatar {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 2rem 0;
}

.container-about {

    .info-wrapper {
        padding: 4rem 4rem 0rem 4rem;
        h1 {                
            font-family: 'Bebas Neue', cursive;
            color: $shade1000;
        }
        p {
            font-size: 1rem;
            font-weight: 400;
            color: $shade600;
            font-size: .9rem;
            line-height: 1.8rem;
            text-align: left;
            //margin-right: 30%;
        }
        /* Solid border */
        hr.solid {
            border: 1px solid $shade200;
            background-color: $shade200;
            margin-top: 2rem;
        }
    }

    .subinfo-wrapper {
        padding: 2rem 4rem 4rem 4rem;
        h3 {                
            color: $shade1000;
        }
        p {
            font-size: 1rem;
            font-weight: 400;
            color: $shade600;
            font-size: .9rem;
            line-height: 1.8rem;
            text-align: left;
            //margin-right: 30%;
        }
        li {
            font-size: 1rem;
            font-weight: 400;
            color: $shade600;
            font-size: .9rem;
            line-height: 1.8rem;
            text-align: left;
        }
    }
}

// Responsive Design for Breakpints 800px, 1050px, 1250px and 1550px

@media only screen and (min-width: 800px) {
    .hero {
        h1 {
            text-align: left;
        }
    }

    .featured, .portfolio {
        text-align: left;
    }

    .featured, .portfolio-container {
        display: grid;
        grid-template-columns: 40% auto;
    }

    .left, .portfolio-left {
        display: grid;
        place-content: center;
        margin-right: 2rem;
    }

    .right {
        margin-right: 2rem;
        margin-top: 1rem;
    }

    .skills {
        margin-top: -5rem;
        margin-bottom: -7rem;
        padding-top: 7rem;
    }

    .skills-container ul {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 1rem;
    }

    .portfolio{
        padding-top: 7rem;
    }

    .portfolio-container img {
        margin-left: 2rem;
    }
}

@media only screen and (min-width: 1050px) {

    //Home page

    .hero{
        height: 80vh;
    }

    .nav-container {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
    
        header {
            background: $shade1000;
        }
    }
    header {
        padding: 2rem 2rem 2rem 4rem;
    }
    .social-header {
        padding: 2rem 4rem 2rem 0;
        background: $shade1000;
    }       
    section {
        padding: 4rem;
    }

    .social-header{
        display: block;

        ul{
            display: flex;
            justify-content: space-between;
            width: 7rem;
            float: right;

            img {
                width: 25px;
            }
        }
    }

    .hero {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
        padding: 0;
        background: $mywhite;

        .content {
            background: $mywhite;
            padding: 6rem 8rem 0rem 4rem;
            text-align: left;

            h1 {
                font-size: 3.2rem;
                line-height: 4rem;
            }
        }
    }
    .meet {
        margin: unset;
    }
    .hero-design {
        display: unset;
        margin-left: -50%;
        margin-top: 15%;
        width: 100%;
    }

    .portfolio img {
        float: right;
        max-width: 500px;
    }

    // Project Page Template
    .subheader {
        height: 100vh;
        background: $base-tertiary;
        display: grid;
        grid-template-columns: 50% auto;

        img {
            display: block;
            height: 50%;
            width: auto;
            margin: 3rem;
        }
    }

    .overview-wrapper {
        background:  $mywhite;
        padding: 2rem;
        border-radius: 1rem;
        box-shadow: $shadow-tiles;
        display: block;
        margin: 5rem;
        height: 160px;
        width: 60%;
        .header {
            text-transform: uppercase;
            font-size: x-small;
            font-weight: bold;
        }
        li {
            margin: 0 0 0.5rem 0;
        }
    }

    .content-wrapper {
        margin: 5rem 15rem;
        h1 {
            font-size: x-large;
            text-align: center;
        }
    }

    .paragraph-wrapper {
        margin: 5rem 0;;
    }
}

@media only screen and (min-width: 1250px) {

    // Home Page
    header {
        padding: 2rem 2rem 2rem 10rem;
    }
    .social-header {
        padding: 2rem 10rem 2rem 0;;
    }
    section {
        padding: 10rem 10rem 4rem 10rem;
    }

    .hero .content {
        padding: 6rem 8rem 0rem 10rem;
    }

    // Project Page Template
    .subheader {
        height: 100vh;
        background: $base-tertiary;
        display: grid;
        grid-template-columns: 50% auto;

        img {
            display: block;
            height: 50%;
            width: auto;
            margin: 5rem 15rem;
        }
    }

    .overview-wrapper {
        background:  $mywhite;
        padding: 2rem;
        border-radius: 1rem;
        box-shadow: $shadow-tiles;
        display: block;
        align-content: left;
        margin-top: 10rem;
        height: 160px;
        width: 60%;
        .header {
            text-transform: uppercase;
            font-size: x-small;
            font-weight: bold;
        }
        li {
            margin: 0 0 0.5rem 0;
        }
    }

    .content-wrapper {
        margin: 5rem 15rem;
        h1 {
            font-size: x-large;
            text-align: center;
        }
    }

    .paragraph-wrapper {
        margin: 5rem 0;;
    }
    // About Me
    .container-about {
        padding: 5rem 10rem;
    }
    .subinfo-wrapper {
        padding: 5rem;
    }
}


@media only screen and (min-width: 1550px) {
    header {
        padding: 2rem 2rem 2rem 20rem;
    }
    .social-header {
        padding: 2rem 20rem 2rem 0;
    }
    section {
        padding: 20rem 20rem 4rem 20rem;
    }

    .hero .content {
        padding: 4rem 10rem 0rem 20rem;
    }
}


